<div class="products-container">
    <div class="product-card">
      <img src="../../assets/images/braava-jet-m6.jpeg" alt="Product 1" class="product-image">
      <div class="product-details">
        <h3 class="product-title">Product 1</h3>
        <p class="product-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <p class="product-price">$229.99</p>
        <button class="add-to-cart-button">Add to Cart</button>
      </div>
    </div>
  
    <div class="product-card">
      <img src="../../assets/images/braavaJet240.jpeg" alt="Product 2" class="product-image">
      <div class="product-details">
        <h3 class="product-title">Product 2</h3>
        <p class="product-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <p class="product-price">$139.99</p>
        <button class="add-to-cart-button">Add to Cart</button>
      </div>
    </div>
  
    <div class="product-card">
        <img src="../../assets/images/braavaJet380t.jpg" alt="Product 2" class="product-image">
        <div class="product-details">
          <h3 class="product-title">Product 2</h3>
          <p class="product-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          <p class="product-price">$109.99</p>
          <button class="add-to-cart-button">Add to Cart</button>
        </div>
      </div>
    <!-- Add more product cards as needed -->
  </div>
  